[submodule "RadeonProRenderSDK"]
	path = RadeonProRenderSDK
	url = https://github.com/ralic/RadeonProRenderSDK.git
[submodule "RadeonProImageProcessingSDK"]
	path = RadeonProImageProcessingSDK
	url = https://github.com/ralic/RadeonImageFilter.git
[submodule "RadeonProRenderSharedComponents"]
	path = RadeonProRenderSharedComponents
	url = https://github.com/ralic/RadeonProRenderSharedComponents.git
